* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile {
    background-color: rgba(128, 128, 128, 0.5);
    width: 6%;
    height: 12%;
    border-radius: 50%;
    margin-top: 40px;
    margin-bottom: 30px;
    background-image: url(image/me.jpeg);
    background-size: cover;
    background-position: center;
}

.name {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}

.job {
    font-size: 20px;
    margin-top: 10px;
    color: gray;
    font-weight: 600;
}

.introduce {
    margin-top: 30px;
    text-align: center;
    font-weight: 500;
}

.skills {
    font-size: 15px;
    font-weight: bold;
    position: relative;
    right: 260px;
    margin-top: 60px;
}

.skill-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-right: 265px;
    margin-top: 15px;
}

.skill {
    border-radius: 5px;
    background-color: rgb(232, 229, 229);
    text-align: center;
    height: 40px;
}

.skill-html {
    width: 70px;
}

.skill-css {
    width: 50px;
}

.skill-javascript {
    width: 90px;
}

.skill-react {
    width: 60px;
}

.skill-word {
    padding-top: 12px;
    font-size: 15px;
}

.contact {
    font-size: 18px;
    padding-top: 70px;
}

.link-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;

}

.link {
    border-radius: 10px;
    border: 1px solid rgb(232, 229, 229);
    text-align: center;
    width: 40px;
    height: 40px;
}

.links {
    margin-top: 10px;
}